.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sitewise-skeleton-search .ant-skeleton-paragraph li {
  width: calc(100% - 32px) !important;
  height: 22px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 16px;
}

.sitewise-skeleton-search span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sitewise-skeleton-search svg {
  font-size: 16px;
  margin-right: 8px;
  color: rgb(0, 135, 183);
}

.sitewise-skeleton-search .ant-list-item:hover {
  background-color: #f2f8fb;
  cursor: pointer;
}

.gm-style-iw.gm-style-iw-c {
  width: 280px;
  min-height: 60px;
  left: -40px;
  top: 20px;
}

.gm-style .gm-style-iw-d {
  overflow: auto !important;
}

.gm-style .gm-style-iw-tc::after {
  display: none;
}

button.gm-ui-hover-effect {
  visibility: hidden;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
